@media (max-width: 38em) {
  html {
    font-size: 60%;
  }

  .container {
    min-height: 0;
  }

  .results-component-left,
  .results-component-right {
    padding: 3.4rem;
  }

  .results-component {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;

    margin: 0;

    border-radius: 0 0 30px 30px;
    overflow: hidden;
    box-shadow: none;
  }

  .component-header-left,
  .component-header-right {
    font-size: 2rem;
    font-weight: 700;
  }

  .summary-cards {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin: 2.8rem 0;
  }

  .result-btn {
    font-size: 2rem;
    padding: 2rem 3rem;
  }
}
