/* FONT FAMILY */

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

/* GLOBAL VALUEs */

:root {
  --light-red: rgb(255, 87, 87);
  --light-red-accent: rgba(255, 87, 87, 0.08);
  --orange-yellow: rgb(255, 176, 31);
  --orange-yellow-accent: rgba(255, 176, 31, 0.08);
  --green-teal: rgb(0, 189, 145);
  --green-teal-accent: rgba(0, 189, 145, 0.08);
  --cobalt-blue: rgb(17, 37, 212);
  --cobalt-blue-accent: rgba(17, 37, 212, 0.08);

  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavendar: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --dark-gray-blue-accent: rgba(48, 59, 90, 0.5);

  --opaque-white: rgba(255, 255, 255, 0.5);

  --light-blue: rgba(255, 0, 0, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg,
img {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "hanken grotesk", sans-serif;
}

.results-component {
  max-width: 70rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.results-component-left {
  text-align: center;
  display: grid;
  align-content: start;
  gap: 2.8rem;

  border-radius: inherit;
  padding: 4.2rem;

  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}

.component-header-left {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--opaque-white);
}

.score {
  width: 18rem;

  color: var(--opaque-white);
  font-size: 1.6rem;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
  border-radius: 100px;

  display: grid;
  place-content: center;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
  gap: 0.4rem;
}

.score span {
  display: block;

  font-size: 6.8rem;
  font-weight: 800;
  line-height: 1;
  color: var(--white);
}

.result-msg {
  font-size: 3rem;
  padding-bottom: 1.8rem;
  color: var(--white);
}

.result-summary-body {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--opaque-white);
  padding-bottom: 1.2rem;
}

.results-component-right {
  padding: 4.2rem;
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.component-header-right {
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--dark-gray-blue);
}

.summary-cards {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.result-right {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 1.2rem;
  border-radius: 5px;
}

.result-name {
  display: flex;
  gap: 1rem;
}

.summary-card-title {
  font-size: 1.6rem;
  font-weight: 700;
}

.result-right:nth-child(1) {
  color: var(--light-red);
  background-color: var(--light-red-accent);
}
.result-right:nth-child(2) {
  color: var(--orange-yellow);
  background-color: var(--orange-yellow-accent);
}
.result-right:nth-child(3) {
  color: var(--green-teal);
  background-color: var(--green-teal-accent);
}
.result-right:nth-child(4) {
  color: var(--cobalt-blue);
  background-color: var(--cobalt-blue-accent);
}

.result-right p {
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--dark-gray-blue-accent);
}

.result-right span {
  color: var(--dark-gray-blue);
}

.result-btn {
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--white);
  border: none;

  border-radius: 100px;
  padding: 1.6rem 3.2rem;

  background-color: var(--dark-gray-blue);
}

.result-btn:hover,
.result-btn:active {
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}
