/* FONT FAMILY */

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

/* GLOBAL VALUEs */

:root {
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavendar: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  --opaque-white: rgba(255, 255, 255, 0.65);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "hanken grotesk", sans-serif;
}

.results-component {
  max-width: 70rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.results-component-left {
  text-align: center;
  display: grid;
  align-content: start;
  gap: 2rem;

  padding: 4.2rem;
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}

.component-header-left {
  font-size: 2.4rem;
  color: var(--opaque-white);
}

.score {
  width: 20rem;

  color: var(--opaque-white);
  font-size: 1.6rem;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
  border-radius: 100px;

  display: grid;
  place-content: center;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
  gap: 0.4rem;
}

.score span {
  display: block;

  font-size: 6.8rem;
  font-weight: 800;
  line-height: 1;
  color: var(--white);
}

.result-msg {
  font-size: 3rem;
  color: var(--white);
}

.result-summary-body {
  font-size: 1.8rem;
  color: var(--opaque-white);
  /* padding: 0 1.8rem; */
  margin-bottom: 1.8rem;
}

.results-component-right {
  padding: 4.2rem;
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.component-header-right {
  font-size: 2.4rem;
  color: var(--dark-gray-blue);
}

.summary-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.result-right {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  border-radius: 5px;
}

.result-right img {
  width: 2rem;
}

.result-right h4 {
  font-size: 1.6rem;
}
.result-right p {
  font-size: 1.6rem;
  font-weight: 800;
}

.result-btn {
  text-align: center;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  border-radius: 100px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--dark-gray-blue);
}
